.container {
    width: 1200px;
    margin: 0 auto;
}
.title h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}
.order-form {
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
.order-form select {
    width: 100%;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid #D4DEE8;
}
.subtitle-form {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}
.input-text {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #D4DEE8;
}

.form-radio {
    display: flex;
}
.form-radio label {
    padding: 9px 0;
}
.form-radio input {
    width: 15px;
}
.react-datepicker__input-container input {
    width: 476px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #D4DEE8;
}
button {
    width: 100%;
    color: #fff;
    font-size: 16px;
    background: #5C4EBD;
    border-radius: 3px;
    border: none;
    margin: 30px 0;
    min-height: 45px;
    cursor: pointer;
}
button:hover {
    background: #6F43B7;
    transition: .5s;
}
.datetime-picker {
    width: 100%;
    box-sizing: border-box;
}
.form-control {
    border-radius: 10px;
}
.react-datepicker button {
    margin-top: 10px !important;
    background: #F0F0F0 !important;
    border-radius: 1px !important;
    min-height: 10px !important;
}
.list-result {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 15px 0 0;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
