.popup-order {
  background: rgba(0,0,0,0.2);
}
.order-info {
  margin: 20px 0 50px;
}
.order-info-item {
  padding: 12px 0;
  border-bottom: 1px solid #7f7f7f;
}
.order-info-item span {
  font-size: 13px;
  font-weight: 300;
}
.order-info-btn {
  display: flex;
  justify-content: center;
}
.order-info-btn .edit-btn {
  width: 50%;
  margin-right: 10px;
}
.order-info-btn .delete-btn {
  width: 50%;
}
